name: Docker
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    â€ name: build
      with:
        repository: vebis/trigger-proxy
        tags: v1
      id: build
      uses: docker/build-action@v1
      
